<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Order Online - Mangal Prime</title>

<link rel="icon" href="/assets/images/mangal-prime.svg" type="image/svg+xml">
<link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

<link href="/assets/css/font-awesome-all.css" rel="stylesheet">
<link href="/assets/css/flaticon.css" rel="stylesheet">
<link href="/assets/css/owl.css" rel="stylesheet">
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<link href="/assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="/assets/css/animate.css" rel="stylesheet">
<link href="/assets/css/color.css" rel="stylesheet">
<link href="/assets/css/nice-select.css" rel="stylesheet">
<link href="/assets/css/global.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
<link href="/assets/css/swiper.min.css" rel="stylesheet">
<link href="/assets/css/timePicker.css" rel="stylesheet">
<link href="/assets/css/responsive.css" rel="stylesheet">
<link href="/assets/css/custom.css" rel="stylesheet">
</head>
<body>
    <div class="body___border">
        <div class="border__top"></div>
        <div class="border__left"></div>
        <div class="border__right"></div>
        <div class="border__bottom"></div>
    </div>
    <div class="boxed_wrapper one">
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">Preloader Close</div>
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading"><span data-text-preloader="E" class="letters-loading">E</span><span data-text-preloader="A" class="letters-loading">A</span><span data-text-preloader="R" class="letters-loading">R</span><span data-text-preloader="L" class="letters-loading">L</span><span data-text-preloader="S" class="letters-loading">S</span></div>
                    </div>
                </div>
            </div>
        </div>

        <header class="main-header style-one">
            <div class="side-nav">
                <div class="single-header-right sidenav-btn-box">
                    <a href="#" class="side-nav-open side-nav-opener"><figure><img src="/assets/images/icons/bar.png" alt=""></figure></a>
                </div>
            </div>
            <div class="header-lower">
                <div class="outer-box">
                    <div class="logo-box">
                        <figure class="logo"><a href="/"><img src="/assets/images/mangal-prime.svg" alt=""></a></figure>
                    </div>
                    <div class="menu-area">
                        <div class="mobile-nav-toggler"><i class="icon-bar"></i><i class="icon-bar"></i><i class="icon-bar"></i></div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/menu">Menu</a></li>
                                    <li><a href="/order">Order Online</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="https://www.opentable.ca/r/mangal-prime-richmond-hill" target="_blank" rel="noopener noreferrer">Reservation</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="header__right">
                        <div class="btn-box">
                            <a href="https://www.opentable.ca/r/mangal-prime-richmond-hill" target="_blank" rel="noopener noreferrer" class="theme-btn-two">Reservation</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo"><a href="/"><img src="/assets/images/mangal-prime.svg" alt=""></a></figure>
                        </div>
                        <div class="menu-area">
                            <nav class="main-menu clearfix"></nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>
            <nav class="menu-box">
                <div class="nav-logo"><a href="/"><img src="/assets/images/mangal-prime.svg" alt=""></a></div>
                <div class="menu-outer"></div>
            </nav>
        </div>

        <section class="hidden-sidebar side-navigation">
            <div class="close-btn side-navigation-close-btn"><i class="fas fa-times"></i></div>
            <div class="sidebar-content">
                <div class="nav-logo"><a href="/"><img src="/assets/images/mangal-prime.svg" alt=""></a></div>
            </div>
        </section>

        <section class="page-title centred">
            <div class="bg-layer parallax-bg" data-parallax='{"y": 150}' style="background-image: url(/assets/images/background/booking-page.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="title"><h1>Order Online</h1></div>
                </div>
            </div>
        </section>

        <section class="about__us see__pad p_relative">
            <div class="medium-container">
                <div class="title__section text-center">
                    <div class="sub____title"><span>Takeout & delivery</span></div>
                    <div class="main____title">
                        <h1>Order Online from <span>Mangal Prime</span></h1>
                    </div>
                </div>
                <div class="normal__text text-center" style="max-width: 600px; margin: 20px auto 40px;">
                    <p>To place an order, please call us at <a href="tel:+19052513015">+1 (905) 251 3015</a> or use the <a href="/contact">Contact</a> page. View our <a href="/menu">Menu</a> to see what we offer.</p>
                    <div class="btn-box" style="margin-top: 30px;">
                        <a href="/menu" class="theme-btn-two">View Menu</a>
                        <a href="/contact" class="theme-btn-two" style="margin-left: 15px;">Contact Us</a>
                    </div>
                </div>
            </div>
        </section>

        <footer class="main-footer">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 pr-0">
                        <div class="footer__title">
                            <div class="footer__title__icon">
                                <img src="/assets/images/icons/map.png" alt="">
                                <span class="sub____title">Address</span>
                            </div>
                            <div class="footer___title__text">
                                <p>9724 Yonge St<br>Richmond Hill, ON L4C 1V9</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 pl-0">
                        <div class="footer__title">
                            <div class="footer__title__icon">
                                <img src="/assets/images/icons/phone.png" alt="">
                                <span class="sub____title">Contact Us</span>
                            </div>
                            <div class="footer___title__text">
                                <p><a href="tel:+19052513015">+1 (905) 251 3015</a><br>Open: 09:00 am – 01:00 pm</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="footer__logo">
                        <div class="logo-box">
                            <figure class="logo"><a href="/"><img src="/assets/images/mangal-prime.svg" alt=""></a></figure>
                        </div>
                    </div>
                    <div class="footer__menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/menu">Menu</a></li>
                            <li><a href="/order">Order Online</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <button class="scroll-top scroll-to-target" data-target="html">
            <span class="icon-short-arrow-up"></span>
        </button>
    </div>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.js"></script>
    <script src="/assets/js/timePicker.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/validation.js"></script>
    <script src="/assets/js/jquery.fancybox.js"></script>
    <script src="/assets/js/appear.js"></script>
    <script src="/assets/js/jquery.countTo.js"></script>
    <script src="/assets/js/scrollbar.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/nav-tool.js"></script>
    <script src="/assets/js/parallax-scroll.js"></script>
    <script src="/assets/js/swiper-bundle.min.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>
